@model ResetPasswordViewModel

@{ 
    ViewBag.Title = "Reset Password";
}

<div class="container col-sm-3 mt-3 p-5 bg-white rounded">
    <div class="border-bottom">
        <h2>Reset Password</h2>
    </div>
    <div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="font-weight-bold"></label>
                <input asp-for="@Model.Email" class="form-control" placeholder="Email" />
                <small>A password reset confirmation will be sent to you.</small>
                <br />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" style="padding:0;border:none;background:none;">
                    <img asp-append-version="true" src="~/images/resetpassword.png" class="img-fluid" alt="Alternate Text" style="width:35px;height:35px" />
                </button>
                <a class="ml-2" asp-controller="Account" asp-action="Login">
                    <img src="~/images/back.png" alt="Alternate Text" style="width:35px;height:35px" />
                </a>
            </div>
        </form>
    </div>
</div>