<div class="container">
    <div class="row bg-white p-5 mt-3">
        <div class="col-sm-12 display-4 border-bottom">
            About Me
        </div>
        <div class="col-sm mt-3">
            <p>
                My name is Renzell Linsangan and I have developed this application to showcase my knowledge and skills with Microsoft's .Net 5 framework. Specifically,
                ASP.Net Core framework along with using HTML, CSS, Javascript, and JQuery.
            </p>
        </div>
    </div>
</div>