
@{ 
    ViewBag.Title = "User Detail";
}

<h1>User: </h1>
<h6>Id:</h6>
<a asp-controller="Administration" asp-action="EditUser">
    <img src="~/images/EditUserIcon.png" alt="Alternate Text"  style="height:50px;width:50px;"/>
</a>

<table>
    <thead>
        <tr>
            <td>

            </td>
        </tr>
    </thead>
    <tr>
        <td></td>
    </tr>
</table>