@model CreateRoleViewModel
@{ 
    ViewBag.Title = "Add Role";
}

<div class="container p-5 mt-3 bg-light">
    <div class="border-bottom">
        <h1>Add Role</h1>
    </div>
    <div>
        <form asp-controller="Administration" asp-action="CreateRole" method="post">
            <label asp-for="@Model.RoleName"></label>
            <input asp-for="@Model.RoleName" class="form-control mb-3" style="width:18rem;" />
            <button type="submit" style="border:none;padding:0;background:none;">
                <img asp-append-version="true" src="~/images/CreateIcon.png" style="width:35px;height:35px" />
            </button>
            <a asp-controller="Administration" asp-action="Roles" class="ml-2">
                <img asp-append-version="true" src="~/images/back.png" alt="Alternate Text" style="width:35px;height:35px" />
            </a>
        </form>
    </div>
</div>
